# Object files
*.o

# Libraries
*.lib
*.a
*.obj

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Debug
*.out
*.app

# Intermediaries
BuildLog.htm
*.manifest
mt.dep
*.idb
*.suo
*.user
*.ncb
*.dg